<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Arrays</title>
	<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
	<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
	
 
</head>
<body>
	<div id="root"></div>
	<script type="text/babel">
 
		class ListCourses extends React.Component {
		
			render() {
				return 	<div>
							<h1>{this.props.title}</h1>
							<ul>
								<li>ReactJs</li>
								<li>AngularJs</li>
								<li>JavaScript</li>
								<li>Advanced Java</li>
							</ul>
						</div>;
			}	
		
		}
		
		class ListCoursesUsingArray extends React.Component {
		
			render() {
			
				var courses = ['ReactJs','Angular','JavaScript','Java'];
				
				var listOfElements = [];
				
				for (var course of courses) {
					listOfElements.push(<li>{course}</li>);
				}
				
				return 	<div>
							<h1>{this.props.title}</h1>
							<ul>
								{listOfElements}
							</ul>

						</div>;
			}	
		
		}
 
	
		/* use the React component as if you are using an HTML element in the render method  */
		/*   ReactDOM.render(JSX,find document element) */
		ReactDOM.render(<div><ListCoursesUsingArray title="List of Courses"/></div>,document.getElementById("root"));
	</script>
</body>
</html>